body{
  width:100vw;
  margin: 0 auto;

  background:#cccccc;
}

.stage-box{
  width:1024px;
  height:768px;

  background: #ffffff;

  box-sizing: border-box;
  border:1px solid #333333;

  margin:0 auto;
  margin-top:20px;
}