<h1>Welcome to Home Page</h1>
<nav>
    <ul>
        <li>
            <a href="/tours/hood-river" target="_blank">hood river</a>
        </li>
        <li>
            <a href="/tours/oregon-coast" target="_blank">oregon coast</a>
        </li>
        <li>
            <a href="/newsletter" target="_blank">register</a>
        </li>
    </ul>
</nav>